{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="/static/css/content_basic.css">
<link rel="stylesheet" href="/static/css/large_banner.css">

<div class="site_banner">
    <!--<img src="/static/img/certified_smart_homes_banner.png"> -->
    <img src="/static/img/testimg.jpg">
</div>

<div class="content_basic">
    <h1>Welcome</h1>
    <a>Hello there... this is a test message!!</a>
    <p>
        I like to
        Test out
        Features
        Like This One
    </p>
</div>

{% endblock %}